/* couleur principal du site */
/* couleur header */
/* couleur bouton */
/* taille de la police du site */
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  color: #cccccc;
  width: 130px;
  height: 50px;
  border: 1px solid #47b947;
  text-align: center;
  text-decoration: none;
  font-size: 1em;
  border-radius: 4px;
  transition: 0.6s;
  color: #080808;
}

.btn:hover {
  background: #47b947;
  cursor: pointer;
  box-shadow: inset 2px 2px 3px rgba(165, 160, 160, 0.6), inset -2px -2px 3px rgba(0, 0, 0, 0.6);
}

.btnNeg {
  background: none;
  color: #cccccc;
  border: 1px solid #47b947;
  border-radius: 4px;
  transition: 0.6s;
  color: #080808;
}

.btnNeg:hover {
  background: #47b947;
  cursor: pointer;
  box-shadow: inset 2px 2px 3px rgba(165, 160, 160, 0.6), inset -2px -2px 3px rgba(0, 0, 0, 0.6);
}

.btnPos {
  background: none;
  color: #cccccc;
  border: 1px solid #47b947;
  border-radius: 4px;
  transition: 0.6s;
  color: #080808;
}

.btnPos:hover {
  background: #47b947;
  cursor: pointer;
  box-shadow: inset 2px 2px 3px rgba(165, 160, 160, 0.6), inset -2px -2px 3px rgba(0, 0, 0, 0.6);
}

.option {
  border: solid 1px #47b947;
  border-radius: 4px;
  text-align: center;
}

.boxBtnPanier {
  display: flex;
  flex-direction: row;
}

.btnValidPanier {
  width: 100%;
  background: none;
  color: #cccccc;
  color: #080808;
  height: 50px;
  border: 1px solid #47b947;
  text-align: center;
  text-decoration: none;
  font-size: 1em;
  border-radius: 4px;
  transition: 0.6s;
}

.btnValidPanier:hover {
  background: #47b947;
  cursor: pointer;
  box-shadow: inset 2px 2px 3px rgba(165, 160, 160, 0.6), inset -2px -2px 3px rgba(0, 0, 0, 0.6);
}

#formValPan {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 350px;
  margin-left: auto;
  margin-right: auto;
}

#inputBoxFormNom {
  width: 250px;
  border: 1px solid #47b947;
  border-radius: 4px;
  margin-bottom: 10px;
}

#inputBoxFormPrenom {
  width: 250px;
  border: 1px solid #47b947;
  border-radius: 4px;
  margin-bottom: 10px;
}

#inputBoxFormAdresse {
  width: 250px;
  border: 1px solid #47b947;
  border-radius: 4px;
  margin-bottom: 10px;
}

#inputBoxFormVille {
  width: 250px;
  border: 1px solid #47b947;
  border-radius: 4px;
  margin-bottom: 10px;
}

#inputBoxFormEmail {
  width: 250px;
  border: 1px solid #47b947;
  border-radius: 4px;
  margin-bottom: 10px;
}

#inputBoxFormEmailConfirm {
  width: 250px;
  border: 1px solid #47b947;
  border-radius: 4px;
  margin-bottom: 10px;
}

#inputBtnValidForm {
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  width: 100%;
  height: 30px;
  border: 1px solid #47b947;
  text-align: center;
  text-decoration: none;
  font-size: 1em;
  border-radius: 4px;
  transition: 0.6s;
  margin-right: auto;
  margin-left: auto;
}

#inputBtnValidForm:hover {
  background: #47b947;
  cursor: pointer;
  box-shadow: inset 2px 2px 3px rgba(165, 160, 160, 0.6), inset -2px -2px 3px rgba(0, 0, 0, 0.6);
}

#pErreur {
  color: #f50707;
}

body {
  margin: 0;
  margin-left: 0;
  margin-right: 0;
  background-color: #ffffff;
  color: #080808;
}

#heading {
  background-color: #535353;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  position: fixed;
  top: 0;
  width: 100%;
}

#h1Header {
  font-size: 4em;
  margin-bottom: 0;
}

.h2Main {
  margin-top: 200px;
}

#main {
  margin-bottom: 100px;
}

#nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.fas {
  padding-left: 10px;
}

.h2Main {
  text-align: center;
  font-size: 2em;
}

.catalogue {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-left: 20%;
  margin-right: 20%;
}

.boxProducs {
  display: flex;
  flex-direction: row;
  margin-top: 5px;
  margin-bottom: 5px;
  height: 200px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  align-content: stretch;
}

.boxImage {
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.newImage {
  width: 90%;
}

.boxName {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
  font-size: 1.4em;
  text-align: center;
}

.boxPrice {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
  font-size: 1.4em;
}

.boxBtn {
  display: flex;
  justify-content: center;
  align-self: center;
}

@media all and (max-width: 1200px) {
  .catalogue {
    width: 100%;
  }

  .boxProducs {
    width: 100%;
    margin-left: 0%;
    margin-left: 0%;
    justify-content: space-around;
  }
}
@media all and (max-width: 920px) {
  #catalogue {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
  }
}
@media all and (max-width: 805px) {
  #catalogue {
    font-size: 1em;
  }
}
@media all and (max-width: 680px) {
  .boxProducs {
    height: auto;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10%;
  }

  .boxPrice {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .boxName {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
.boxSelection {
  display: flex;
  flex-direction: row;
  margin-top: 5px;
  margin-bottom: 5px;
  height: 200px;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  align-content: stretch;
}

.boxSelectionImg {
  width: 300px;
}

.inputPanier {
  width: 100px;
  text-align: center;
  border-radius: 4px;
  border: solid 1px #47b947;
}

form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 133px;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
  font-size: 1.4em;
}

.boxSelectionDescription {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
  font-size: 1.4em;
  width: 300px;
  text-align: center;
}

.boxSelectionBtnPanier {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
  justify-content: space-around;
}

@media all and (max-width: 1265px) {
  .boxSelection {
    width: 100%;
  }
}
@media all and (max-width: 1000px) {
  .boxSelection {
    height: auto;
    flex-direction: column;
    align-items: center;
  }

  .boxSelectionDescription {
    width: 100%;
  }

  .boxSelectionBtnPanier {
    flex-direction: row;
    width: 100%;
  }
}
@media all and (max-width: 530px) {
  .boxSelectionBtnPanier {
    flex-direction: column;
    width: 100%;
  }
}
#tableauPanier {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.indexLignePanier {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  background-color: #47b947;
  border-radius: 4px;
}

.titrePanImage {
  width: 200px;
  text-align: center;
}

.namePanImage {
  width: 200px;
  text-align: center;
}

.pricePanImage {
  width: 200px;
  text-align: center;
}

.colPanierQuantite {
  width: 200px;
  text-align: center;
}

.colPanierPrixTotal {
  width: 200px;
  text-align: center;
}

.ligneArticlePanier {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
  margin-top: 5px;
}

.boxImagePanier {
  width: 200px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.divNamePanier {
  width: 200px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.divPricePanier {
  width: 200px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.formPanier {
  width: 200px;
  text-align: center;
  flex-direction: row;
}

.montantLigne {
  width: 200px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inputPanier {
  width: 100px;
  text-align: center;
  border-radius: 4px;
  border: solid 1px #47b947;
}

.inputForm {
  width: 200px;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 133px;
}

.calcPanier {
  display: flex;
  flex-direction: row;
  height: 50px;
  margin-top: 5px;
  margin-bottom: 2%;
}

.total {
  flex: 4;
  text-align: end;
  background-color: #47b947;
}

.textMontant {
  background-color: #47b947;
}

.resultMontant {
  width: 200px;
  height: auto;
  text-align: center;
}

.formMontantP {
  width: auto;
}

.btnValidPanier {
  font-size: 2em;
}

@media all and (max-width: 1010px) {
  #tableauPanier {
    width: 90%;
  }

  .btnValidPanier {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.6em;
  }
}
@media all and (max-width: 972px) {
  .imageDuPanier {
    width: 90%;
  }

  .calcPanier {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 5px;
  }

  .resultMontant {
    width: 200px;
  }

  .textMontant {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .formMontantP {
    border-radius: 4px;
    border: 2px solid #47b947;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .total {
    max-width: 200px;
    text-align: center;
    background-color: #47b947;
    padding-right: 30px;
    margin-bottom: 50px;
    border-radius: 4px;
  }

  .aImage {
    max-width: 180px;
  }
}
@media all and (max-width: 600px) {
  #tableauPanier {
    font-size: 0.8em;
  }

  .inputPanier {
    width: 50px;
  }
}
@media all and (max-width: 600px) {
  #tableauPanier {
    font-size: 0.6em;
  }
}
#formulaire {
  margin-top: 200px;
}

h2 {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  height: auto;
}

.btnInputEnvoyerFormulaire {
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  color: #cccccc;
  width: 130px;
  height: 50px;
  border: 1px solid #47b947;
  text-align: center;
  text-decoration: none;
  font-size: 1em;
  border-radius: 4px;
  transition: 0.6s;
  color: #080808;
  width: auto;
}

.btnInputEnvoyerFormulaire:hover {
  background: #47b947;
  cursor: pointer;
  box-shadow: inset 2px 2px 3px rgba(165, 160, 160, 0.6), inset -2px -2px 3px rgba(0, 0, 0, 0.6);
}

#messageLigneUne, #messageLigneDeux, #messageLigneTrois {
  text-align: center;
}

#erreur {
  color: #fa0303;
}

footer {
  background-color: #535353;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.text-center {
  color: #080808;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 1.2em;
}

#footer a {
  font-size: 1.4em;
  text-decoration: none;
  color: #080808;
}

@media all and (max-width: 680px) {
  #footer a {
    font-size: 1em;
  }
}

/*# sourceMappingURL=style.css.map */
