@import "./utils/variables-color";
@import "./utils/variables-font-size";
@import "./utils/mixin";
@import "./component/button";
@import "./component/button-quantite-panier";
@import "./component/formulaire-option";
@import "./component/button-validPanier";
@import "./component/formValidePanier";
@import "./layout/body";
@import "./layout/header";
@import "./layout/nav-bar";
@import "./layout/_catalogue.scss";
@import "./layout/selectProduit";
@import "./layout/panier";
@import "./layout/footer";

