@keyframes zoom {
    from {
        font-size: $fontSizePrimary;
    }
    to {
        font-size: $fontSizePrimary * 1.3;
        opacity: 1;
    }
}
 @keyframes zoomPanier {
     from {
         font-size: $fontSize1;
     }
     to {
        font-size: $fontSize1 * 1.02;
        opacity: 1;
     }
 }