/* couleur principal du site */
$primary: #ffffff;
$secondary: #080808;

/* couleur header */
$background-primary: #ffffff;
$background-secondary: #535353;

/* couleur bouton */
$colorBtn : #47b947;
$colorBtnText: #cccccc;