.h2Main {
  text-align: center;
  font-size: $fontSizePrimary;
}
.catalogue {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-left: 20%;
  margin-right: 20%;
}
.boxProducs {
  display: flex;
  flex-direction: row;
  margin-top: 5px;
  margin-bottom: 5px;
  height: 200px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  align-content: stretch;
}

.boxImage {
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.newImage{
  
  width: 90%;
}
.boxName {
  @include alignItems;
  font-size: $fontSize2;
  text-align: center;
}
.boxPrice {
  @include alignItems;
  font-size: $fontSize2;
}
.boxBtn {
  display: flex;
  justify-content: center;
  align-self: center;
}
@media all and (max-width: 1200px){
  .catalogue {
    width: 100%;
  }
  .boxProducs {
    width: 100%;
    margin-left: 0%;
    margin-left: 0%;
    justify-content: space-around;
  }
}
@media all and (max-width: 920px){
  #catalogue {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
  }
}
@media all and (max-width: 805px){
  #catalogue {
    font-size: 1em;
  }
}
@media all and (max-width: 680px){
  .boxProducs {
    height:  auto;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10%;
  }
  .boxPrice{
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .boxName{
    margin-top: 10px;
    margin-bottom: 10px;
  }
}