footer {
    background-color: $background-secondary;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  .text-center {
    color: $primary;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: $fontSize1;
  }
  #footer a {
    font-size: $fontSize2;
    text-decoration: none;
    color: $primary;
  }
  @media all and (max-width: 680px){
    #footer a {
      font-size: 1em;
    }
  }