#nav-bar {
    
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
#nav-bar-Menu{
  display: flex;
  flex-direction: row;
  justify-content: end;
  margin-right: 20%;
  
}

.fas {
  padding-left: 10px;
}
   
