.tableauPanier {
    width: 85%;
    border: 1px solid #00000035;
}
.lignePanier {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.colPanierImage {
    @include indexpanier;
    flex: 1;
}
.imageDuPanier {
    width: 200px;
}
.colPanierName {
    @include indexpanier;
}
.colPanierOption {
    @include indexpanier;
}
.colPanierPrice {
    @include indexpanier;
}
.colPanierQuantite {
    @include indexpanier;
}
form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 133px;
}
.colPanierPrixTotal {
    @include indexpanier;
}

.lignePanier h3 {
    background: $colorBtn;
    padding-top: 5px;
    padding-bottom: 5px;
}

.inputPanier {
    width: 100px;
    border: 1px solid $colorBtn;
    border-radius: 10px;
    text-align: center;
}
.ligneMontantBaliseP {
    width: 100px;
    border: 1px solid $colorBtn;
    border-radius: 10px;
    text-align: center;
}
.formMontantP {
    width: 100px;
    border: 1px solid $colorBtn;
    border-radius: 10px;
    text-align: center;
}
.namePanier {
    @include valeurPanier;
}
.optionPanier {
    @include valeurPanier;
}
.pricePanier {
    @include valeurPanier;
}
.montantLigne {
    height: 133px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.calcPanier {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;  
}

.total {

    text-align: end;
    flex: 4;
}
.resultMontant {
    display: flex;
    justify-content: center;
    flex: 1;
}
.inputPanierTotal {
    margin-right: auto;
    margin-left: auto;
}