#tableauPanier {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
.indexLignePanier {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    background-color: $colorBtn;
    border-radius: 4px;
}
.titrePanImage {
    @include alignDivPanier;
}
.namePanImage {
    @include alignDivPanier;
}
.pricePanImage {
    @include alignDivPanier;
}
.colPanierQuantite {
    @include alignDivPanier;
}
.colPanierPrixTotal {
    @include alignDivPanier;
}


.ligneArticlePanier {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    margin-top: 5px;
    
}
.imageDuPanier {
    width: 200px;
    border-radius: 15px;
}

.divNamePanier {
    @include alignDivPanier;
    display: flex;
    align-items: center;
    justify-content: center;
}

.divPricePanier{
   @include alignDivPanier;
    display: flex;
    align-items: center;
    justify-content: center;
}
.formPanier{
    @include alignDivPanier;
}
.montantLigne{
    @include alignDivPanier;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inputPanier{
    width: 100px;
    text-align: center;
    border-radius: 4px;
    border: solid 1px $colorBtn;
}
form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 133px;
}
.calcPanier {
    display: flex;
    flex-direction: row;
    margin-top: 5px;
}
.total {
    flex: 4;
    text-align: end;
    background-color: $colorBtn ;
    padding-right: 30px;
    margin-bottom: 50px;
    border-radius: 4px;
}
.resultMontant {
    width: 200px;
    text-align: center;
}


// @media all and (max-width: 1266px){
//     .lignePanier {
//         width: 100%;
//     }
//     .btnValidPanier {
//         width: 100%;
//         margin-right: auto;
//         margin-left: auto;
//     }
//     .colPanierName {
//         @include withAuto;
//     }
//     .colPanierPrice {
//         @include withAuto;
//     }
//     .colPanierQuantite {
//         @include withAuto;
//     }
//     .colPanierPrixTotal {
//         @include withAuto;
//     }
//   }
// @media all and (max-width: 1100px){
//     .namePanier {
//         @include valeurPanierBis;
//     }
//     .optionPanier {
//         @include valeurPanierBis;
//     }
//     .pricePanier {
//         @include valeurPanierBis;
//     }
// }
// @media all and (max-width: 900px){
//     .inputPanier {
//         width: 50px;
//     }
// }
// @media all and (max-width: 750px){
//     .imageDuPanier {
//         max-width: 200px;
//         min-width: auto;
//     }
// }