#tableauPanier {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
.indexLignePanier {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    background-color: $colorBtn;
    border-radius: 4px;
}
.titrePanImage {
    @include alignDivPanier;
}
.namePanImage {
    @include alignDivPanier;
}
.pricePanImage {
    @include alignDivPanier;
}
.colPanierQuantite {
    @include alignDivPanier;
}
.colPanierPrixTotal {
    @include alignDivPanier;
}


.ligneArticlePanier {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    margin-top: 5px;
    
}

.boxImagePanier{
    @include alignDivPanier;
    display: flex;
    align-items: center;
    justify-content: center;
}
.imageDuPanier{
    width: 50%;
}
.divNamePanier {
    @include alignDivPanier;
    display: flex;
    align-items: center;
    justify-content: center;
}

.divPricePanier{
   @include alignDivPanier;
    display: flex;
    align-items: center;
    justify-content: center;
}
.formPanier{
    @include alignDivPanier;
    flex-direction: row;
}
.montantLigne{
    @include alignDivPanier;
    display: flex;
    align-items: center;
    justify-content: center;
}
.inputPanier{
    width: 100px;
    text-align: center;
    border-radius: 4px;
    border: solid 1px $colorBtn;
  }
.inputForm {
    @include alignDivPanier;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 133px;
  }

.calcPanier {
    display: flex;
    flex-direction: row;
    height: 50px;
    margin-top: 5px;
    margin-bottom: 2%;
}
.total {
    flex: 4;
    text-align: end;
    background-color: $colorBtn ;
    border-radius: 4px;
    padding-right: 10px;
}
.textMontant{
    background-color: $colorBtn;
}
.resultMontant {
    width: 200px;
    height: auto;
    text-align: center;
    
}
.formMontantP {
    width: auto;
}
.btnValidPanier {
    font-size: 2em;
}

@media all and (max-width: 1010px){
    #tableauPanier{
        width: 90%;
    }
    .btnValidPanier {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        font-size: 1.6em;
    }
  }
  @media all and (max-width: 972px){
    .imageDuPanier{
        width: 60%;
    }
    .calcPanier {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 5px;
    }
    .resultMontant{
        width: 200px;
        
    }
    .textMontant{
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .formMontantP{
        border-radius: 4px;
        border: 2px solid $colorBtn;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .total {
        max-width: 200px;
        text-align: center;
        background-color: $colorBtn ;
        padding-right: 30px;
        margin-bottom: 50px;
        border-radius: 4px;
    }
    .aImage{
        max-width: 180px;
    }
  }
  
  @media all and (max-width: 600px){
    #tableauPanier{
        font-size: 0.8em;
    }
    .inputPanier{
        width: 50px;
    }
  }
  @media all and (max-width: 600px){
    #tableauPanier{
        font-size: 0.6em;
    } 
  }

