
.boxSelection {
  display: flex;
  flex-direction: row;
  border: 1px solid black ;
  margin-top: 5px;
  margin-bottom: 5px;
  height: 200px;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  align-content: stretch;
}
.boxSelectionImg {
  width: 300px;
}
.boxSelectionName {
  @include alignItems;
  font-size: $fontSize2;
}
.boxSelectionDescription {
  @include alignItems;
  font-size: $fontSize2;
  width: 300px;
  text-align: center;
}
.boxSelectionLentilles {
@include alignItems;
font-size: $fontSize2;
}
.boxSelectionPrice {
@include alignItems;
font-size: $fontSize2;
}
.boxSelectionBtnPanier {
  @include alignItems;
  justify-content: space-around;
}
.option {
text-align: center;
}
.labelLenses {
margin-left: 3px;
}
.divInputchoice {
margin-top: 10px;
text-align: left;
font-size: 0.8em;
}