.boxSelection {
  display: flex;
  flex-direction: row;
  margin-top: 5px;
  margin-bottom: 5px;
  height: 200px;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  align-content: stretch;
}
.boxSelectionImg {
  width: 300px;
}
.inputPanier{
  width: 100px;
  text-align: center;
  border-radius: 4px;
  border: solid 1px $colorBtn;
}
form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 133px;
}
.box {
  @include alignItems;
  font-size: $fontSize2;
}
.boxSelectionDescription {
  @include alignItems;
  font-size: $fontSize2;
  width: 300px;
  text-align: center;
}
.boxSelectionBtnPanier {
  @include alignItems;
  justify-content: space-around;
}
@media all and (max-width: 1265px){
  .boxSelection {
    width: 100%;
  }
}
@media all and (max-width: 1000px){
  .boxSelection {
    height:  auto;
    flex-direction: column;
    align-items: center;
  }
  .boxSelectionDescription {
    width: 100%;
    
  }
  .boxSelectionBtnPanier {
    flex-direction: row;
    width: 100%;
    // justify-content: space-evenly;
  }
}
@media all and (max-width: 530px){
  .boxSelectionBtnPanier {
    flex-direction: column;
    width: 100%;
    // justify-content: space-evenly;
  }
}