// ==================== Boutons Catalogue / Produits / Panier ====================
.btn {
    @include button;
    
}
.btn:hover {
    @include buttonHover;
}
.btnInfo {
    @include button;
    color: $secondary;
    
}
.btnInfo:hover {
    @include buttonHover;
    color: $secondary;
}