// ====================   boutons nav-bar ====================

.lienMenu {
    @include button;
  }
.lienMenu:hover {
    @include buttonHover;
    
}

.lienPanierNav{
    @include button;
}
.lienPanierNav:hover {
    @include buttonHover;
}
// ==================== Boutons Catalogue / Produits / Panier ====================

.btnInfo {
    @include button;
    color: $secondary;
}
.btnInfo:hover {
    @include buttonHover;
}


.btnPanier {
    @include button;
    color: $secondary;
}
.btnPanier:hover {
    @include buttonHover;
}

.btnPanierSupprimer{
    @include button;
    color: $secondary;
}
.btnPanierSupprimer:hover{
    @include buttonHover;
}

.btnNeg {
    @include btnNeg;
    color: $secondary;
}
.btnNeg:hover {
    @include btnNegHover;
}
.btnPos {
    @include btnNeg;
    color: $secondary;
}
.btnPos:hover {
    @include btnNegHover;
}

.labelLenses {
    background: none;
    padding-top: 5px;
    padding-right: 10px;
    padding-left: 5px;
    padding-bottom: 10px;
    border: 1px solid $colorBtn;
    border-radius: 4px;
    transition: .6s;
}
.labelLenses:hover {
    background: $colorBtn;
    cursor: pointer;
    box-shadow: inset 2px 2px 3px rgba(165, 160, 160, 0.6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}

