#formValPan {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 350px;
    margin-left: auto;
    margin-right: auto;
}
@mixin sizeLabelValidPanier{
    width: 250px;
    border: 1px solid $colorBtn;
    border-radius: 4px;
    margin-bottom: 10px;
}
#inputBoxFormNom{
    @include sizeLabelValidPanier;
}
#inputBoxFormPrenom{
    @include sizeLabelValidPanier;
}
#inputBoxFormAdresse{
    @include sizeLabelValidPanier;
}
#inputBoxFormVille{
    @include sizeLabelValidPanier;
}
#inputBoxFormEmail{
    @include sizeLabelValidPanier;
}
#inputBoxFormEmailConfirm{
    @include sizeLabelValidPanier;
}
#inputBtnValidForm{
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    
    width: 100%;
    height: 30px;
    border: 1px solid $colorBtn;
    text-align: center;
    text-decoration: none;
    font-size: 1em;
    border-radius: 4px;
    transition: .6s;
    margin-right: auto;
    margin-left: auto;
}
#inputBtnValidForm:hover{
    @include buttonHover;
}
#pErreur{
    color: #f50707;
}
